# Cocos Creator generated folders
**/library/
**/local/
**/temp/
**/build/
!cocos-creator-3.8/build/
**/profiles/
**/.creator/
**/.laya/
**/release/

# Node / editor noise
node_modules/
.DS_Store
Thumbs.db
*.log
